{% assign author = page.author | default: page.authors[0] | default: site.author %}
{% assign author = site.data.authors[author] | default: author %}
<link rel="stylesheet" type="text/css" href="css/style.css">

<div itemscope itemtype="https://schema.org/Person" class="h-card">
  <nav role='navigation'>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a>
      <ul>
        <li><a href="">Our team</a></li>
        <li><a href="">History</a></li>
      </ul>
    </li>
    <li><a href="#">Clients</a></li>
    <li><a href="#">Contact Us</a></li>
  </ul>
</nav>
  {% if author.avatar %}
    <div class="author__avatar">
      <a href="{{ author.home | default: '/' | absolute_url }}">
        <img src="{{ author.avatar | relative_url }}" alt="{{ author.name }}" itemprop="image" class="u-photo">
      </a>
    </div>
  {% endif %}

  <div class="author__content">
    <h3 class="author__name p-name" itemprop="name">
      <a class="u-url" rel="me" href="{{ author.home | default: '/' | absolute_url }}" itemprop="url">{{ author.name }}</a>
    </h3>
    {% if author.bio %}
      <div class="author__bio p-note" itemprop="description">
        {{ author.bio | markdownify }}
      </div>
      <button>hello</button>
    {% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">메뉴</button>
    <ul class="author__urls social-icons">
      {% if author.location %}
        <li itemprop="homeLocation" itemscope itemtype="https://schema.org/Place">
          <i class="fas fa-fw fa-map-marker-alt" aria-hidden="true"></i> <span itemprop="name" class="p-locality">{{ author.location }}</span>
        </li>
      {% endif %}

      <button class="btn btn--inverse">hello</button>
      
      {% include author-profile-custom-links.html %}
    </ul>
  </div>
</div>