{% assign author = page.author | default: page.authors[0] | default: site.author %}
{% assign author = site.data.authors[author] | default: author %}
<link rel="stylesheet" type="text/css" href="stylelish.css">

<div itemscope itemtype="https://schema.org/Person" class="h-card">

<style>
  
.dropdown-container {
  background: black;
  padding: 0.5rem;
  max-width: 130px;
}
label {
  cursor: pointer;
  color: white;
}
#dropdown-toggle {
  display: none;
}
#dropdown-toggle:checked ~ .dropdown-content {
    display: block;
}
.dropdown-content {
  list-style: none;
  padding: 0;
  display: none;
  margin: 15px 0 0;
}
.dropdown-content li {
  padding: 0.5rem 0;  
  border-bottom: 1px solid #eee;
}
.dropdown-content li:last-child {
  border-bottom: 0;
}
.dropdown-content a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  position: relative;
  paddin-left: 0px;
  display: block;
  transition: 0.2s linear;
}
.dropdown-content a:hover {
  padding-left: 5px;
  color: red;
}
</style>

<div class="dropdown-container">
  <input type="checkbox" id="dropdown-toggle">
  <label for="dropdown-toggle">잔액관리</label>
  <ul class=dropdown-content>
    <li><a href="#">입금</a></li>
    <li><a href="#">출금</a></li>
    <li><a href="#">쿠폰&포인트</a></li>
  </ul>
</div>
  
  {% if author.avatar %}
    <div class="author__avatar">
      <a href="{{ author.home | default: '/' | absolute_url }}">
        <img src="{{ author.avatar | relative_url }}" alt="{{ author.name }}" itemprop="image" class="u-photo">
      </a>
    </div>
  {% endif %}

  <div class="author__content">
    <h3 class="author__name p-name" itemprop="name">
      <a class="u-url" rel="me" href="{{ author.home | default: '/' | absolute_url }}" itemprop="url">{{ author.name }}</a>
    </h3>
    {% if author.bio %}
      <div class="author__bio p-note" itemprop="description">
        {{ author.bio | markdownify }}
      </div>
      <button>hello</button>
    {% endif %}
  </div>


</div>
