{% assign author = page.author | default: page.authors[0] | default: site.author %}
{% assign author = site.data.authors[author] | default: author %}
<link rel="stylesheet" type="text/css" href="stylelish.css">

<style>

  .dropdown-container {
    background: black;
    padding: 1rem;
    max-width: 200px;
  }
  
  label {
    cursor: pointer;
  }

  #dropdown-toggle {
    display: none;
  }

  #dropdown-toggle:checked ~ .dropdown-content {
      display: block;
  }

  .dropdown-content {
  list-style: none;
  padding: 0;
  display: none;
  margin: 15px 0 0;
}

.dropdown-content li {
  padding: 0.5rem 0;  
  border-bottom: 1px solid #eee;
}

.dropdown-content li:last-child {
  border-bottom: 0;
}

.dropdown-content a {
  text-decoration: none;
  color: #444;
  font-weight: bold;
  position: relative;
  paddin-left: 0px;
  display: block;
  transition: 0.2s linear;
}

.dropdown-content a:hover {
  padding-left: 5px;
  color: red;
}
</style>
<div class="dropdown-container">
  <input type="checkbox" id="dropdown-toggle">
  <label for="dropdown-toggle">Dropdown</label>
  <ul class=dropdown-content>
    <li><a href="#">One</a></li>
    <li><a href="#">Two</a></li>
    <li><a href="#">Three</a></li>
    <li><a href="#">Four</a></li>
  </ul>
</div>

  
  {% if author.avatar %}
    <div class="author__avatar">
      <a href="{{ author.home | default: '/' | absolute_url }}">
        <img src="{{ author.avatar | relative_url }}" alt="{{ author.name }}" itemprop="image" class="u-photo">
      </a>
    </div>
  {% endif %}

  <div class="author__content">
    <h3 class="author__name p-name" itemprop="name">
      <a class="u-url" rel="me" href="{{ author.home | default: '/' | absolute_url }}" itemprop="url">{{ author.name }}</a>
    </h3>
    {% if author.bio %}
      <div class="author__bio p-note" itemprop="description">
        {{ author.bio | markdownify }}
      </div>
      <button>hello</button>
    {% endif %}
  </div>


</div>